# These are a few modifications to aviz.css for the printing media
body {
  background-color: white;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
}
body {
  font-size: 86%;
}
h1 {
  font-size: 220%;
}
h2 {
  font-size: 130%;
  padding: 0px 0px 0px 2px;
  background-color: white;
  border-bottom-style: solid;
  border-bottom-style: #000000;
  border-bottom-width: 2px;
}
.note {
  border-color: black;
  border-left-width: 1px;
}
a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}  
img {
  border-style: none;
}
